:root {
  /* colours */
  --colour-primary: #06466e;
  --colour-accent: #ff6700;
  --colour-white: #ffffff;
  --colour-black: #031724;
  --colour-grey-light: #e7f5fd;
  --colour-grey: #afbdc8;
  --colour-grey-dark: #485865;

  /* Typography */
  --font-family-base: "Poppins", sans-serif;

  /* Font sizes */
  --font-size-small: 0.875rem;
  --font-size-base: 1rem;
  --font-size-large: 1.25rem;
  --font-size-xlarge: 1.5rem;
  --font-size-xxlarge: 2rem;

  /* Spacing */
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
  --spacing-xxl: 3rem;

  /* border radious */
  --border-radius: 8px;
  --border-radius-lg: 12px;

  /* shadows */
  --shadow: 0 2px 8px rgba(3 23 36 / 25%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  color: var(--colour-black);
}

li {
  list-style: none;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  padding: var(--spacing-xl);
  margin: 0 auto var(--spacing-xxl);
  width: 100%;
  max-width: 1200px;
}
