.root {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 350px), 1fr));
  column-gap: var(--spacing-xl);
  row-gap: var(--spacing-xxl);
}

.li {
  width: 100%;
  min-width: 0;
}

.li * {
  transition: 0.3s ease-in-out;
}

.li:hover * {
  color: var(--colour-accent);
}
