@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Rasa:ital,wght@0,300..700;1,300..700&display=swap");

$base: #155a77;
$important: #013853;
$warning: #003df5;
$primary-font: "Chivo", sans-serif;
$secondary-font: "Rasa", serif;
$border-radius: 4px;
$box-shadow: -11px 3px 14px 3px rgba(21, 90, 119, 0.6);
