@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

$base: #9c1971;
$important: #530123;
$warning: #f500b8;
$primary-font: "Inknut Antiqua", serif;
$secondary-font: "Inter", sans-serif;
$border-radius: 12px;
$box-shadow: 11px 3px 14px 3px rgba(204, 42, 93, 0.6);
