.backButton {
  display: block;
  padding-bottom: var(--spacing-md);
  color: var(--colour-primary);
  font-size: var(--font-size-large);
  font-weight: 600;
}

.name {
  font-size: var(--font-size-xxlarge);
  font-weight: 800;
  line-height: 115%;
  text-transform: uppercase;
}

.price,
.reviewsSection .sectionTitle,
.rating {
  font-size: var(--font-size-xlarge);
  font-weight: 600;
}

.imageContainer {
  width: 100%;
  height: 50vw;
  max-width: 100%;
  border-radius: var(--border-radius-lg);
  overflow: hidden;
}

.title,
.mainInfo,
.imageContainer,
.section {
  margin-bottom: var(--spacing-lg);
}

.image {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-fit: cover;
  object-position: center center;
}

.sectionTitle {
  font-size: var(--font-size-large);
  font-weight: 600;
}

.detailItem,
.amenityItem {
  margin-bottom: var(--spacing-xs);
}

.detailLabel {
  font-weight: 500;
}

.reviewsSection {
  padding-top: var(--spacing-lg);
  border-top: 3px solid var(--colour-grey-light);
}

.sectionTop {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 992px) {
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mainInfo {
    margin-bottom: var(--spacing-xxl);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-xxl);
    align-items: stretch;
  }

  .imageContainer {
    height: 100%;
  }

  .section:last-of-type {
    margin-bottom: 0;
  }

  .reviewsSection {
    padding-top: var(--spacing-xxl);
  }
}
