$pink: #ff8fbe;
$green: #9fff03;
$blue: #67c0ff;
$black: #2d3748;
$white: #ffffff;

@mixin generate-shades($base-color) {
  .box.base-color {
    background-color: $base-color;
    color: $black;
  }

  @for $i from 1 through 4 {
    .darken-#{$i} {
      background-color: darken($base-color, $i * 5%);
      color: $white;
    }

    .lighten-#{$i} {
      background-color: lighten($base-color, $i * 5%);
    }
  }
}
