.imageContainer {
  position: relative;
  margin-bottom: var(--spacing-sm);
  max-width: 100%;
  height: 300px;
  border-radius: var(--border-radius-lg);
  overflow: hidden;
}

.image {
  width: auto;
  max-width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center center;
}

.titleRating {
  display: flex;
  justify-content: space-between;
}

.title,
.rating {
  color: var(--colour-black);
  font-size: var(--font-size-large);
  font-weight: 600;
}

.details {
  color: var(--colour-grey-dark);
  font-size: var(--font-size-small);
  font-weight: 500;
  line-height: 150%;
}
