.filter {
  margin-bottom: var(--spacing-xl);
  flex: 1;
  display: flex;
  flex-direction: column;
}

.filterSelect {
  margin-top: var(--spacing-xs);
  padding: var(--spacing-sm);
  border: 1px solid var(--colour-grey-dark);
  border-radius: var(--border-radius-lg);
}

.filterSelect:focus {
  border: 2px solid var(--colour-accent);
}
