@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

/* colour variants */
$back-gradient: linear-gradient(to right, #fa709a 0%, #fee140 100%);
$shadow-one: 4px 4px 0px #07bccc;
$shadow-two: 8px 8px 0px #e601c0;
$shadow-three: 12px 12px 0px #f40468;
$highlight: #01eaff;

body {
  margin: 0;
  padding: 0;
  height: 100dvh;
  width: 100dvw;
  background: $back-gradient;
}

body,
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

::selection {
  background: $highlight;
}

.container {
  flex-direction: column;
}

.title {
  margin: 0;
  color: white;
  font-family: "Pacifico", cursive;
  font-size: max(5rem, 10dvw);
  line-height: 115%;
  text-align: center;
  text-shadow: $shadow-one, $shadow-two, $shadow-three;
}
